target/
node_modules/
dist/
.qwik/
.vite/
*.log
.turbo/
.env
storage/uploads/*
storage/generated_audio/*
storage/generated_video/*
storage/thumbnails/*
storage/captions/*
!storage/uploads/.gitkeep
!storage/generated_audio/.gitkeep
!storage/generated_video/.gitkeep
!storage/thumbnails/.gitkeep
!storage/captions/.gitkeep
.vercel
